/* || RESET */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

/* || GENERAL STYLES */
body{
    font-size: 1rem;
    background-color: hsl(30, 54%, 90%);
    line-height: 1.5;
}

.bold{
    font-weight: 700;
    color: hsl(24, 5%, 18%);
}

li{
    color: hsl(24, 5%, 18%);
}

.section__div-two{
    display: flex;
    flex-flow: column nowrap;
}

.div__p{
    margin: 0.5rem 0 1rem 2rem;
}

.div-two{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto 1rem;
}

.comp{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 350px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.name{
    color: hsl(30, 10%, 34%);
}

/* || UTILITY CLASSES */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.div-two:first-child{
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.div-two:nth-child(2){
    border-bottom: 2px solid hsl(30, 18%, 87%);
}

.div-two:nth-child(3){
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.div__ul{
    padding: 0 1rem 1rem 0;
}

p{
    margin: 1rem;
}

.body__section{
    width: 800px;
    min-height: 500px;
    background-color: hsl(0, 0%, 100%);
    margin: 3rem auto;
    border-radius: 10px;
}

h1,h2{
    margin: 1rem;
    font-family: "Young Serif", serif;
}

p,
li{
    font-family: "Outfit", sans-serif;
}

h1{
    color: hsl(24, 5%, 18%);
}

h2{
    color: hsl(14, 45%, 36%);
}

.section__div-one{
    margin: 1rem;
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
}

h3{
    margin: 1rem;
    color: hsl(332, 51%, 32%);
    padding: 1rem 0 0 0;
    font-family: "Outfit", sans-serif;
}

ol li{
    margin: 1rem auto;
}

img{
    width: 750px;
    height: 400px;
    border-radius: 10px;
    margin: 2rem auto;
}

ul, ol{
    margin: 1rem;
    list-style-position: inside;
}

li::marker{
    color: hsl(14, 45%, 36%);
}

.section__div-one li::marker{
    color: hsl(332, 51%, 32%);
}

@media (min-width:360px){
    .body__section{
        width: 360px;
        margin: 1rem auto;
    }

    img{
        width: 310px;
        height: 200px;
    }

    .div-two{
        width: 340px;
    }

    .comp{
        width: 170px;
        justify-content: center;
    }
}

@media (min-width:768px){
    .body__section{
        width: 700px;
        margin: 3rem auto;
    }

    img{
        width: 650px;
        height: 350px;
    }

    .div-two{
        width: 650px;
    }

    .comp{
        width: 325px;
    }
}

@media (max-height:425px){
    .body__section{
        width: 700px;
        margin: 2rem auto;
    }

    img{
        width: 650px;
        height: 350px;
    }

    .div-two{
        width: 650px;
    }

    .comp{
        width: 325px;
    }
}